* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  border: 1px solid blue;
}

.left {
  color: blue;
}

.right {
}

ul {
  list-style: none;
  text-transform: capitalize;
}

a {
  text-decoration: none;
}
